language: generic

sudo: required
services:
    - docker

before_install:
  - docker build -t sarimash/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true sarimash/docker-react npm run test